@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

/* General page style */
html {
    min-height: 100%;
    position: relative;
  

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Protest Revolution', sans-serif;
    margin: 0;
    background-color: rgb(175, 218, 218);
    margin-block: 0px;
}

header {
    position: fixed;
    margin: 0%;
    padding-bottom: 0%;
    margin-top: 0px;
    text-align: center;
    height: 5.2rem;
    height: auto;
    background-color: azure;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 4px rgb(159, 175, 175);
}
.indexheader {
    margin-top: 0px;
}
.indexheader h1 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
footer {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    height: 15%;
    padding-top: 2px;
    box-shadow: 0 -4px 4px rgb(159, 175, 175);
    text-align: center;
    background-color: azure;
}
.indexfooter p {
    font-size: 8rel;
    color: rgb(0, 0, 0);
}

/* Game area style */

#makemove {
    font-family: inherit;
    color: rgb(255, 0, 106);
    display: flex;
    align-content: center;
    justify-content: center;

}

.game-area {

    max-width: 80%;

}

.buttons-div {
    padding-top: .1rem;
    padding-left: auto;
    padding-right: auto;

    align-items: center;
    justify-content: center;
    display: flex;

}

.player {
    float: left;
    margin-left: 5%;
}

.opponent {
    float: right;
    margin-right: 5%;
}

#player-image {
    max-width: 40%;
}
#opponent-image {
    max-width: 40%;
}